footer {
  text-align: center;
  padding: 5px;
  background-color: DarkSlateGrey;
  color: white;
}
body {
  font-family: 'Courier New', monospace;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
